.Section-header {
    height: 400px;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.55)
        ),
        url("/pictures/walpaper.jpg");

    background-size: cover;
}
.Section-header {
    padding-left: 90px;
}
.Section-header h1 {
    padding-top: 150px;
    width: 55%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

    background: linear-gradient(135deg, #FFFFFF 0%, #FFD700 50%, #DAA520 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.Section-header p {
    margin-bottom: 30px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.Section-header .header-inquiry {
    border: 2px solid white;
    padding: 7px 10px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    border-radius: 5px;

    background: linear-gradient(135deg, #0f0c1b 0%, #9a782a 50%, #4a370e 100%);

}
.Section-header .header-inquiry:hover {
    color: wheat;
    border: 2px solid wheat;
}

@media (max-width:768px) {
    .Section-header {
        padding: 40px 10px;
        text-align: center;
    }
    .Section-header h1 {
        font-size: 30px;
        width: 100%;
    } 
}