.container-why {
    background:rgba(79,75,69,.45);
    padding: 80px;
    margin-top: 50px;
}
.container-why h1 {
    font-family: Interxtrabold;
    margin-bottom: 17px;
    font-size: 30px;
}
.section-why {
    display: flex;
}
.card-item {
    width: 50%;
    border: 1px solid white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.card-item .card-logo {
    margin-bottom: 17px;
}
.card-item h2 {
    font-family: Interxtrabold;
    margin-bottom: 10px;
}
.card-item p {
    font-family: Interregular;
    font-size: 19px;
}

@media (max-width:768px) {
    .container-why {
        padding: 80px 60px;
    }
    .section-why {
        flex-wrap: wrap;
    }
    .card-item {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .container-why {
        padding: 80px 25px;
    }
}